In [1]:
import pandas as pd

In [3]:
# Load https://www.kaggle.com/abcsds/pokemon
df = pd.read_csv('../data/Pokemon.csv', index_col='#')

# Exploration

In [12]:
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Check unique pokemon count

In [13]:
len(df.Name.unique())

800

### Check non-unique pokemon count
If it matches unique, no duplicate records

In [6]:
len(df.Name)

800

### Check number of generations in dataset

In [14]:
df.Generation.unique()

array([1, 2, 3, 4, 5, 6])

### Checking all Types available

In [15]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [16]:
df['Type 2'].unique()

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

# Check number of gen 1 pokemons 
We have 150 pokemons in this [image dataset](https://www.kaggle.com/lantian773030/pokemonclassification)

I am thinking of buildng a classifier that gives back pokemon stats if given an image

In [18]:
# get first gen
gen_one = df.Generation == 1
# create first gen df slice
gen_one_df = df[gen_one]
# get count of first gen
len(gen_one_df)

166

#### Hmmm, Lets try dropping "mega" pokemons, I'm trying to get a count somewhere near 150(+/-3)

In [19]:
# get all columns containing "Mega"
mega_gen_one = gen_one_df.apply(lambda row: row.astype(str).str.contains('Mega').any(), axis=1)
# invert slice gen one without mega
non_mega_gen_one_df = gen_one_df[~mega_gen_one]
# get non-mega first gen pokemon count
len(non_mega_gen_one_df)

151

Success!!!

Now that we have a similar count to the image dataset, we can consider building a classifier for the pokedex.